EGECheckPointsService/fdalilib/XML/Схемы/запрос-удаление.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AuthData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Login"/>
				<xs:element ref="Pass"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Login">
		<xs:annotation>
			<xs:documentation>Логин пользователя</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Pass">
		<xs:annotation>
			<xs:documentation>Пароль пользователя</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
  <xs:element name="DataForDelete">
    <xs:annotation>
      <xs:documentation>Удаляемые данные</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element name="Applications" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Заявления</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Application" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Заявление</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element name="ApplicationNumber" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Номер заявления</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="RegistrationDate" type="xs:dateTime">
                      <xs:annotation>
                        <xs:documentation>Дата регистрации заявления</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="OrdersOfAdmission" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Заявления, включенное в приказ</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Application" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Заявление, включенное в приказ</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:all>
                    <xs:element name="ApplicationNumber" type="xs:string">
                      <xs:annotation>
                        <xs:documentation>Номер заявления</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="RegistrationDate" type="xs:dateTime">
                      <xs:annotation>
                        <xs:documentation>Дата регистрации заявления</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:all>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompetitiveGroups" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Конкурсные группы</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompetitiveGroupID" type="xs:unsignedInt" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>ИД конкурсной группы</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Campaigns" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Приемные кампании</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CampaignID" type="xs:unsignedInt" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>ИД приемной кампании</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="CompetitiveGroupItems" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Направления подготовки конкурсных групп</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CompetitiveGroupItemID" type="xs:unsignedLong" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>ИД направления подготовки конкурсной группы</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="EntranceTestResults" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Результаты вступительных испытаний</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="EntranceTestsResultID" type="xs:unsignedInt">
                <xs:annotation>
                  <xs:documentation>ИД вступительного испытания</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ApplicationCommonBenefits" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Общие льготы, предоставленные абитуриентам</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ApplicationCommonBenefitID" type="xs:unsignedInt">
                <xs:annotation>
                  <xs:documentation>ИД общей льготы</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Root">
		<xs:complexType>
			<xs:all>
				<xs:element ref="AuthData"/>
        <xs:element ref="DataForDelete"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
