EGECheckPointsService/EGECheckUnitTestProject/Service References/FCTServiceReference/EgeCheckService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EgeCheckService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42815/EgeCheckService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42815/EgeCheckService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEgeCheckService_GetSingleCheckQuerySample_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleCheckQuerySample" />
  </wsdl:message>
  <wsdl:message name="IEgeCheckService_GetSingleCheckQuerySample_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSingleCheckQuerySampleResponse" />
  </wsdl:message>
  <wsdl:message name="IEgeCheckService_GetBatchCheckQuerySample_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchCheckQuerySample" />
  </wsdl:message>
  <wsdl:message name="IEgeCheckService_GetBatchCheckQuerySample_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchCheckQuerySampleResponse" />
  </wsdl:message>
  <wsdl:message name="IEgeCheckService_SingleCheck_InputMessage">
    <wsdl:part name="parameters" element="tns:SingleCheck" />
  </wsdl:message>
  <wsdl:message name="IEgeCheckService_SingleCheck_OutputMessage">
    <wsdl:part name="parameters" element="tns:SingleCheckResponse" />
  </wsdl:message>
  <wsdl:message name="IEgeCheckService_SingleCheckTest_InputMessage">
    <wsdl:part name="parameters" element="tns:SingleCheckTest" />
  </wsdl:message>
  <wsdl:message name="IEgeCheckService_SingleCheckTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SingleCheckTestResponse" />
  </wsdl:message>
  <wsdl:portType name="IEgeCheckService">
    <wsdl:operation name="GetSingleCheckQuerySample">
      <wsdl:input wsaw:Action="http://tempuri.org/IEgeCheckService/GetSingleCheckQuerySample" message="tns:IEgeCheckService_GetSingleCheckQuerySample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEgeCheckService/GetSingleCheckQuerySampleResponse" message="tns:IEgeCheckService_GetSingleCheckQuerySample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchCheckQuerySample">
      <wsdl:input wsaw:Action="http://tempuri.org/IEgeCheckService/GetBatchCheckQuerySample" message="tns:IEgeCheckService_GetBatchCheckQuerySample_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEgeCheckService/GetBatchCheckQuerySampleResponse" message="tns:IEgeCheckService_GetBatchCheckQuerySample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SingleCheck">
      <wsdl:input wsaw:Action="http://tempuri.org/IEgeCheckService/SingleCheck" message="tns:IEgeCheckService_SingleCheck_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEgeCheckService/SingleCheckResponse" message="tns:IEgeCheckService_SingleCheck_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SingleCheckTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IEgeCheckService/SingleCheckTest" message="tns:IEgeCheckService_SingleCheckTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEgeCheckService/SingleCheckTestResponse" message="tns:IEgeCheckService_SingleCheckTest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEgeCheckService" type="tns:IEgeCheckService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSingleCheckQuerySample">
      <soap:operation soapAction="http://tempuri.org/IEgeCheckService/GetSingleCheckQuerySample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchCheckQuerySample">
      <soap:operation soapAction="http://tempuri.org/IEgeCheckService/GetBatchCheckQuerySample" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleCheck">
      <soap:operation soapAction="http://tempuri.org/IEgeCheckService/SingleCheck" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SingleCheckTest">
      <soap:operation soapAction="http://tempuri.org/IEgeCheckService/SingleCheckTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EgeCheckService">
    <wsdl:port name="BasicHttpBinding_IEgeCheckService" binding="tns:BasicHttpBinding_IEgeCheckService">
      <soap:address location="http://localhost:42815/EgeCheckService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>