EGECheckPointsService/EGECheckUnitTestProject/Service References/FCTServiceReference/EgeCheckService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSingleCheckQuerySample">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleCheckQuerySampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSingleCheckQuerySampleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchCheckQuerySample">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchCheckQuerySampleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBatchCheckQuerySampleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymicname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passportseria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passportnumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="certificatenumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typographicnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SingleCheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleCheckTest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="patronymicname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passportseria" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passportnumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="certificatenumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typographicnumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleCheckTestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SingleCheckTestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>